$color-deep-sea-green: #0B664D;
$color-crown-of-thorns: #82233A;
$color-crusta: #FE7C27;
$color-martinique: #32344A;

$color-white: #FFFFFF;
$color-black: #000000;
$color-light-black: #333333;
$color-light-gray: #F2F2F2;